node_modules/
dist/
.venv/
.venv/*
.venv-onnx/
.venv-onnx/*
__pycache__/
*.pyc
.DS_Store

benchmarks/results/
benchmarks/data/

src-tauri/target/
src-tauri/Cargo.lock

models/cohere-transcribe-03-2026/*
!models/cohere-transcribe-03-2026/.gitkeep

models/pyannote-3.1/segmentation-3.0/*
!models/pyannote-3.1/segmentation-3.0/.gitkeep

models/pyannote-3.1/wespeaker-voxceleb-resnet34-LM/*
!models/pyannote-3.1/wespeaker-voxceleb-resnet34-LM/.gitkeep

src-tauri/icons/*
!src-tauri/icons/.gitkeep
